@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.feedback-form {
  max-width: 408px;
  background-color: #fff;
  padding: 24px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.feedback-form input, .feedback-form textarea {
  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
  min-height: 40px;
  padding: 8px 16px;
  font: inherit;
  transition: border-color ease-in-out .25s;
}

.feedback-form input:hover, .feedback-form textarea:hover {
  border: 1px solid #000;
}

.feedback-form input:active, .feedback-form textarea:active {
  border: 1px solid #808080;
}

.feedback-form button[type="submit"] {
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  color: #fff;
  background: #4e75ff;
  font: inherit;
  font-weight: 500;
  border: none;
  transition: background-color ease-in-out .25s;
}

.feedback-form button[type="submit"]:hover {
  background-color: #6c8cff;
}